{% extends 'MopaBootstrapBundle::base.html.twig' %}



{% block title %}Symfony {% endblock %}

    {% block head_style %}
        {% if app.debug %}
            <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
        {% else %}
            <link href="{{ asset('css/app.min.css') }}" type="text/css" rel="stylesheet"/>
        {% endif %}
    {% endblock head_style %}




{% block headline %}Symfony!{% endblock headline %}

{% block footer %}
<p>2016</p>
{% endblock footer %}